{{request.path}}

{% url 'all_cities' as all %}
{% if request.path != all %}
<a href="{% url 'all_cities' %}"><button type="submit" class="btn btn-outline-primary">Назад</button></a>
{% endif %}
<div class="row">
    <div class="col md-7">
        <form action="{{action}}" method="post">
            {%csrf_token%}
            {% if button != 'Видалити' %}
            {{form.as_p}}
            {% endif %}

            {% if button == 'Видалити' %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            {% endif %}

            <button type="submit" class="btn{% if button == 'Видалити' %} btn-outline-danger{% endif %} btn-outline-secondary">
                {{button}}
            </button>
        </form>
    </div>
</div>